* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenedor{
    display: flex;
    flex-direction: column;
    font-family: 'Gloria Hallelujah', cursive;
}
header{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #BD544D;
    color: white;
    padding: 15px;
}
nav ul li{
    display: inline-block;
    padding: 10px;
    padding-top: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    /* font-weight: bold; */
    color:lemonchiffon;
    text-shadow: 1px 1px black;
}

#principal{
    display: flex;
    justify-content: center;
    height: 648px;
    background-image: url(../imagenes/inicial2.JPG);
}
#principal > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    opacity: .6;
}
#principal h1{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}
#contenido{
    display: flex;
    flex-direction: column;
}
.descripcion h2{
    font-family: 'Indie Flower';
    font-size: 50px;
}
#contenido > article{
    display: flex;
    justify-content: center;
    width: 100%;
}
#contenido article img{
    width: 250px;
    border-radius: 25px;
    transition-duration: 1s;
}
#contenido article img:hover{
    transform: scale(1.1, 1.1);
}
#contenido article .descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenido > #playa{
    background-color: #FBFAEB;
}
#contenido > #parque{
    background-color: #EFF9EA;
}
#contenido > #rio{
    background-color: #FCF2EA;
}
#contenido #playa > *,
#contenido #parque > *,
#contenido #rio > *{
    padding: 15px;
}
.descripcion{
    width: 300px;
}
footer{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    /* background-color: #FBFAEB; */
    /* color: white; */
}

footer > *{
    padding: 15px;
}
footer #direccion{
    margin-left: 50px;
}
form[name="contacto"]{
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #FCF2EA;
}

form textarea,
form input{
    border: 1px solid lightgray;
}

@media screen and (max-width:768px){
    #contenido #playa img:nth-child(1){
        display: none;
    }
    #contenido #parque img:nth-child(1){
        display: none;
    }
    #contenido #rio img:nth-child(1){
        display: none;
    }
}

@media screen and (max-width:576px){
    #contenido #playa img:nth-child(1){
        display: none;
    }
    #contenido #parque img:nth-child(1){
        display: none;
    }
    #contenido #rio img:nth-child(1){
        display: none;
    }
    #contenido > article{
        align-items: center;
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
}